*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  border: 0.2rem;
  margin: 0.2rem;
  color: #FFFFFF;
}

#toppage {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
  color: #FA0505;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding: 3rem;
  text-align: center;
}

#list {
  background-color: #06063F;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.item1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  height: 10rem;
  width: 10rem;
  background-position: center;
  background-size: cover;
}

.picture {
  height: 12rem;
  width: auto;
}

.container {
  text-align: center;
}

@media screen and (min-width: 490px) {
  #list{
    width: 100%;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .container {
    text-align: center;
    margin: 0 auto;
  }

  .item1 {
    height: 15rem;
  }
}